# Collecting, Scrapping, Organizing Dataset

## Dataframe and variable names and their full forms and/or meanings:
#### `Reasonings behind feature choices is explained in the report/presentation notebook`

1. NGR        = Natural Gas Reserves in the US from 1995 to 2020
2. NGP        = Natural Gas Production in in the US from 1995 to 2020
3. Texas_temp = Temperature in Texas, US from 1995 to 2020
4. cali_temp  = Temperature in California, US from 1995 to 2020 (not included in the final data set)
5. FINAL      = The final dataset calls.

### Libraries

In [21]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
#from BeautifulSoup import BeautifulSoup
#!pip install selenium
#!pip install BeautifulSoup

#

In [22]:
df = pd.read_csv("fig1_data.csv")
NGR = df[[ 'Date','U.S. total natural gas proved reserves (trillion cubic feet)']].head(57)
NGR = NGR.tail(25)
NGR.reset_index(inplace= True)
NGR = NGR.drop(['index'],axis=1)
NGR = NGR.rename(columns = {'Date':'Year'})
NGR.loc[len(df.index)] = [2020, 473.3]

neww = pd.read_csv("ng-consumption-dryprod-netimports.csv") 
ran = np.arange(0,50)
neww = neww.drop(neww.index[ran],axis=0)
neww.reset_index( inplace= True)
neww = neww.drop(['index'],axis=1)
neww = neww.rename(columns = {'U.S. natural gas consumption, dry production, and net imports, 1950-2021':'Year',
                       'Unnamed: 1':'Natural Gas Production','Unnamed: 2':'Consumption',
                       'Unnamed: 3':'Net Imports'})
neww['Year'] = pd.to_datetime(neww['Year'])
neww = neww.drop([26],axis=0)

NGR['Year'] = NGR['Year'].astype(int)
NGR.reset_index(inplace= True)
NGR = NGR.drop(['index'],axis=1)

NGR['Year'] = neww['Year']

defu = pd.read_csv("monthly-dry-citygate.csv")
NGP = defu.tail(192)
NGP.rename(columns = {'U.S. monthly dry natural gas production and monthly average citygate price, 2005-2020':'Time'}, inplace = True)
NGP = NGP.drop('Unnamed: 2', axis=1)
NGP = NGP.rename(columns = {'Unnamed: 1':'Natural Gas Production (trillion cubic feet)'})

C:\Users\ubaid khan\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [30]:
Texas_temp = pd.read_csv("table.csv")
cali_temp = pd.read_csv("cali_temp.csv")

Texas_temp = Texas_temp.drop(['Unnamed: 0'],axis=1)
Texas_temp = Texas_temp.dropna()
Texas_temp = Texas_temp.head(27)

#cali_temp = cali_temp.drop(['Unnamed: 13'],axis=1)
#Texas_temp = Texas_temp.drop(['Total'],axis=1)

cali_temp = cali_temp.head(30)
cali_temp = cali_temp.tail(28)

cali_temp.rename(columns = {'6/16/22, 2:09 AM':'Year','Unnamed: 1':'Jan','Unnamed: 2':'Feb',
                            'Unnamed: 3':'Mar','Unnamed: 4':'Apr','Unnamed: 5':'May','Unnamed: 6':'Jun',
                            'Unnamed: 7':'Jul','Unnamed: 8':'Aug','Unnamed: 9':'Sep','Unnamed: 10':'Oct',
                            'Unnamed: 11':'Nov','Unnamed: 12':'Dec','Date':'Year','Unnamed: 13':'Avg. California Temp.'}, inplace=True)

Texas_temp.rename(columns = {'Total':'Avg. Texas Temp.'}, inplace=True)

cali_temp = cali_temp.replace('M')
Texas_temp = Texas_temp.iloc[::-1]
cali_temp = cali_temp.drop(29,axis=0)

cali_temp.reset_index( inplace= True)
cali_temp = cali_temp.drop(['index'],axis=1)
Texas_temp.reset_index( inplace= True)
Texas_temp = Texas_temp.drop(['index'],axis=1)

new_Texas_temp = Texas_temp.transpose()
s1 = new_Texas_temp[0].iloc[1:13]
s2 = new_Texas_temp[1].iloc[1:13]
s13 = s1.append(s2)
s3 = new_Texas_temp[2].iloc[1:13]
s4 = new_Texas_temp[3].iloc[1:13]
s14 = s3.append(s4)
sA = s13.append(s14)

s5 = new_Texas_temp[4].iloc[1:13]
s6 = new_Texas_temp[5].iloc[1:13]
s15 = s5.append(s6)
s7 = new_Texas_temp[6].iloc[1:13]
s8 = new_Texas_temp[7].iloc[1:13]
s16 = s7.append(s8)
sB = s15.append(s16)

sAB = sA.append(sB)

s9 = new_Texas_temp[8].iloc[1:13]
s10 = new_Texas_temp[9].iloc[1:13]
s17 = s9.append(s10)
s11 = new_Texas_temp[10].iloc[1:13]
s12 = new_Texas_temp[11].iloc[1:13]
s18 = s11.append(s12)
sC = s17.append(s18)

sABC = sAB.append(sC) #12 years of temperature data

sZ = ((new_Texas_temp[13].iloc[1:13].append
       (new_Texas_temp[14].iloc[1:13])).append
      (new_Texas_temp[15].iloc[1:13]).append
      (new_Texas_temp[16].iloc[1:13]).append
      (new_Texas_temp[17].iloc[1:13])).append(new_Texas_temp[18].iloc[1:13]).append(new_Texas_temp[19].iloc[1:13]).append(new_Texas_temp[20].iloc[1:13]).append(new_Texas_temp[21].iloc[1:13])

sZZ = sABC.append(sZ)
sZZZ = ((new_Texas_temp[22].iloc[1:13])).append(new_Texas_temp[23].iloc[1:13]).append(new_Texas_temp[24].iloc[1:13]).append(new_Texas_temp[25].iloc[1:13]).append(new_Texas_temp[26].iloc[1:13])
sZZZZ = sZZ.append(sZZZ)

Texas_Temperature = pd.DataFrame(sZZZZ)
Texas_Temperature.reset_index(inplace= True)
Texas_Temperature = Texas_Temperature.drop(['index'],axis=1)

In [40]:
new_cali_temp = cali_temp.transpose()
t1 = new_cali_temp[0].iloc[1:13]
t2 = new_cali_temp[1].iloc[1:13]
t13 = t1.append(t2)
t3 = new_cali_temp[2].iloc[1:13]
t4 = new_cali_temp[3].iloc[1:13]
t14 = t3.append(t4)
tA = t13.append(t14)

t5 = new_cali_temp[4].iloc[1:13]
t6 = new_cali_temp[5].iloc[1:13]
t15 = t5.append(t6)
t7 = new_cali_temp[6].iloc[1:13]
t8 = new_cali_temp[7].iloc[1:13]
t16 = t7.append(t8)
tB = t15.append(t16)

tAB = tA.append(tB)

t9 = new_cali_temp[8].iloc[1:13]
t10 = new_cali_temp[9].iloc[1:13]
t17 = t9.append(t10)
t11 = new_cali_temp[10].iloc[1:13]
t12 = new_cali_temp[11].iloc[1:13]
t18 = t11.append(t12)
tC = t17.append(t18)

tABC = tAB.append(tC) #12 years of temperature data

tZ = ((new_cali_temp[13].iloc[1:13].append
       (new_cali_temp[14].iloc[1:13])).append
      (new_cali_temp[15].iloc[1:13]).append
      (new_cali_temp[16].iloc[1:13]).append
      (new_cali_temp[17].iloc[1:13])).append(new_cali_temp[18].iloc[1:13]).append(new_cali_temp[19].iloc[1:13]).append(new_cali_temp[20].iloc[1:13]).append(new_cali_temp[21].iloc[1:13])

tZZ = tABC.append(tZ)
tZZZ = ((new_cali_temp[22].iloc[1:13])).append(new_cali_temp[23].iloc[1:13]).append(new_cali_temp[24].iloc[1:13]).append(new_cali_temp[25].iloc[1:13]).append(new_cali_temp[26].iloc[1:13])
tZZZZ = tZZ.append(tZZZ)

Cali_Temperature = pd.DataFrame(tZZZZ)
Cali_Temperature.reset_index(inplace= True)
Cali_Temperature = Cali_Temperature.drop(['index'],axis=1)
Cali_Temperature = Cali_Temperature.rename(columns = {0:'California Temperature'})

In [24]:
new_Texas_temp = Texas_temp.transpose()
s1 = new_Texas_temp[0].iloc[1:13]
s2 = new_Texas_temp[1].iloc[1:13]
s13 = s1.append(s2)
s3 = new_Texas_temp[2].iloc[1:13]
s4 = new_Texas_temp[3].iloc[1:13]
s14 = s3.append(s4)
sA = s13.append(s14)

s5 = new_Texas_temp[4].iloc[1:13]
s6 = new_Texas_temp[5].iloc[1:13]
s15 = s5.append(s6)
s7 = new_Texas_temp[6].iloc[1:13]
s8 = new_Texas_temp[7].iloc[1:13]
s16 = s7.append(s8)
sB = s15.append(s16)

sAB = sA.append(sB)

s9 = new_Texas_temp[8].iloc[1:13]
s10 = new_Texas_temp[9].iloc[1:13]
s17 = s9.append(s10)
s11 = new_Texas_temp[10].iloc[1:13]
s12 = new_Texas_temp[11].iloc[1:13]
s18 = s11.append(s12)
sC = s17.append(s18)

sABC = sAB.append(sC) #12 years of temperature data

sZ = ((new_Texas_temp[13].iloc[1:13].append
       (new_Texas_temp[14].iloc[1:13])).append
      (new_Texas_temp[15].iloc[1:13]).append
      (new_Texas_temp[16].iloc[1:13]).append
      (new_Texas_temp[17].iloc[1:13])).append(new_Texas_temp[18].iloc[1:13]).append(new_Texas_temp[19].iloc[1:13]).append(new_Texas_temp[20].iloc[1:13]).append(new_Texas_temp[21].iloc[1:13])

sZZ = sABC.append(sZ)
sZZZ = ((new_Texas_temp[22].iloc[1:13])).append(new_Texas_temp[23].iloc[1:13]).append(new_Texas_temp[24].iloc[1:13]).append(new_Texas_temp[25].iloc[1:13]).append(new_Texas_temp[26].iloc[1:13])
sZZZZ = sZZ.append(sZZZ)

Texas_Temperature = pd.DataFrame(sZZZZ)
Texas_Temperature.reset_index(inplace= True)
Texas_Temperature = Texas_Temperature.drop(['index'],axis=1)

In [25]:
neww = pd.read_csv("ng-consumption-dryprod-netimports.csv") 
ran = np.arange(0,50)
neww = neww.drop(neww.index[ran],axis=0)
neww.reset_index( inplace= True)
neww = neww.drop(['index'],axis=1)
neww = neww.rename(columns = {'U.S. natural gas consumption, dry production, and net imports, 1950-2021':'Year',
                       'Unnamed: 1':'Natural Gas Production','Unnamed: 2':'Consumption',
                       'Unnamed: 3':'Net Imports'})
neww['Year'] = pd.to_datetime(neww['Year'])
neww = neww.drop([26],axis=0)

In [26]:
df = pd.DataFrame(id, columns = ['id'])
id = np.arange(0,26)
GDP_concat = pd.concat([df['id'],NGR['U.S. total natural gas proved reserves (trillion cubic feet)']], axis=1,ignore_index=False)

GDP_concat_u = GDP_concat['U.S. total natural gas proved reserves (trillion cubic feet)']
GDP_concats = GDP_concat.append([GDP_concat]*11,ignore_index=True).sort_values(by='id')
GDP_concats.reset_index(inplace= True)
GDP_concats = GDP_concats.drop(['index'],axis=1)
GDP_concats

       id  U.S. total natural gas proved reserves (trillion cubic feet)
0       0                                              173.5
1       0                                              173.5
2       0                                              173.5
3       0                                              173.5
4       0                                              173.5
...   ...                                                ...
3667  305                                                NaN
3668  305                                                NaN
3669  305                                                NaN
3670  305                                                NaN
3671  305                                                NaN

[3672 rows x 2 columns]

In [42]:
TARGET = pd.read_csv("Natural Gas Futures Historical Data (3).csv")
TARGET = TARGET.tail(306)
TARGET.reset_index(inplace= True)
TARGET = TARGET.drop(['index'],axis=1)
TARGET = TARGET.iloc[::-1]
TARGET.reset_index(inplace= True)
TARGET = TARGET.drop(['index'],axis=1)
TARGET = TARGET.rename(columns={'Price':'Target Price'})

df = pd.DataFrame(id, columns = ['id'])
id = np.arange(0,26)
GDP_concat = pd.concat([df['id'],NGR['U.S. total natural gas proved reserves (trillion cubic feet)']], axis=1,ignore_index=False)

GDP_concat_u = GDP_concat['U.S. total natural gas proved reserves (trillion cubic feet)']
GDP_concats = GDP_concat.append([GDP_concat]*11,ignore_index=True).sort_values(by='id')
GDP_concats.reset_index(inplace= True)
GDP_concats = GDP_concats.drop(['index'],axis=1)

Crude = pd.read_csv("Crude Oil WTI Futures Historical Data.csv")
Crude = Crude.tail(306)
Crude.reset_index(inplace= True)
Crude = Crude.drop(['index'],axis=1)
Crude = Crude.iloc[::-1]
Crude.reset_index(inplace= True)
Crude = Crude.drop(['index'],axis=1)
Crude = Crude.rename(columns={'Price':'Crude Oil Price'})

neww = pd.read_csv("ng-consumption-dryprod-netimports.csv") 
ran = np.arange(0,50)
neww = neww.drop(neww.index[ran],axis=0)
neww.reset_index( inplace= True)
neww = neww.drop(['index'],axis=1)
neww = neww.rename(columns = {'U.S. natural gas consumption, dry production, and net imports, 1950-2021':'Year',
                       'Unnamed: 1':'Natural Gas Production','Unnamed: 2':'Consumption',
                       'Unnamed: 3':'Net Imports'})
neww['Year'] = pd.to_datetime(neww['Year'])
neww = neww.drop([26],axis=0)
 
df = pd.DataFrame(id, columns = ['id'])
id = np.arange(0,26)
df4 = pd.concat([df['id'],neww['Natural Gas Production'],neww['Consumption'],neww['Net Imports']], axis=1,ignore_index=False)
df5 = df4.append([df4]*11,ignore_index=True).sort_values(by='id')
df5.reset_index(inplace=True)
df5 = df5.drop(['index'],axis=1)
df5 = df5.head(306)

USDI = pd.read_csv("US Dollar Index Historical Data.csv")
USDI = USDI.rename(columns = {'Price':'US Dollar Index'})
#U.S. Dollar Index

GDP = pd.read_csv("GDP.csv")
GDP = GDP.tail(109)
GDP.reset_index(inplace= True)
GDP = GDP.drop(['index'],axis=1)
GDP = GDP.head(104)

GDP = pd.concat([df['id'],GDP['GDP'],], axis=1,ignore_index=False)
GDP_yearly = GDP.append([GDP]*2,ignore_index=True).sort_values(by='id')
GDP_yearly.reset_index(inplace= True)
GDP_yearly = GDP_yearly.drop(['index'],axis=1) 

datee = pd.read_csv("datetime2.csv") 
datee2 = datee['Unnamed: 1'].head(312)

id = np.arange(0,306)
df = pd.DataFrame(id, columns = ['id'])
FINAL = pd.concat([datee2,df['id'],TARGET['Target Price'],Crude['Crude Oil Price'],USDI['US Dollar Index'],Texas_Temperature[0],Cali_Temperature['California Temperature'],df5['Natural Gas Production'],
                   GDP_yearly['GDP'],GDP_concats['U.S. total natural gas proved reserves (trillion cubic feet)'],
                   df5['Consumption'],df5['Net Imports']], axis=1)
FINAL = FINAL.rename(columns = {0:'Texas Temperature','Unnamed: 1':'DATE'})
FINAL = FINAL.drop(['id'],axis=1)
FINAL = FINAL.head(306)

In [43]:
FINAL

,DATE,Target Price,Crude Oil Price,US Dollar Index,Texas Temperature,California Temperature,Natural Gas Production,GDP,U.S. total natural gas proved reserves (trillion cubic feet),Consumption,Net Imports
0,01-01-1995,1.614,17.56,89.94,48.1,49.9,18.599,7522.289,173.5,22.207,2.687
1,01-02-1995,1.748,17.84,91.87,52.5,51.9,18.599,7522.289,173.5,22.207,2.687
2,01-03-1995,1.750,17.54,94.04,56.9,55.4,18.599,7522.289,173.5,22.207,2.687
3,01-04-1995,1.866,17.64,93.89,64.2,59.7,18.599,7580.997,173.5,22.207,2.687
4,01-05-1995,2.018,18.18,92.14,73.2,66,18.599,7580.997,173.5,22.207,2.687
...,...,...,...,...,...,...,...,...,...,...,...
301,01-02-2020,2.630,42.61,85.26,41.1,48.7,33.485,20492.492,473.3,30.477,-2.732
302,01-03-2020,2.527,40.22,83.66,61.4,54.2,33.485,20659.102,473.3,30.477,-2.732
303,01-04-2020,3.354,35.79,84.29,64.6,62,33.485,20813.325,473.3,30.477,-2.732
304,01-05-2020,2.882,45.34,85.57,71.8,73.2,33.485,21001.591,473.3,30.477,-2.732
305,01-06-2020,2.539,48.52,81.57,82.1,81.2,33.485,21289.268,473.3,30.477,-2.732